:root {
    --dark: #292C35;
    --light: #F1F1F1;
    --label: #111;
}

* {
    margin: 0;
    padding: 0;
}

.dark {
    background-color: var(--dark);
    transition: .5s;
}

.light {
    background-color: var(--light);
    transition: .5s;
}

.switcher {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--label);
    border-radius: 60px;
    width: 250px;
    height: 100px;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 80px;
    height: 80px;
    position: static;
}

#toggle {
    background-color: var(--light);
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
}

.inactive {
    left: 5.5%;
    transition: .5s;
}

.active {
    left: 62.5%;
    transition: .5s;
}